{% extends 'base.html' %}

<style>
  .center-block{display:block;margin-right:auto;margin-left:auto}
  .link-secondary{color:#6c757d}.link-secondary:focus,.link-secondary:hover{color:#565e64}
  /* .justify-content-md-end{justify-content:flex-end!important}
  .d-grid{display:grid!important}
  .gap-2{gap:.5rem!important}
  .d-md-flex{display:flex!important} */
</style>

{% block content %}
<body style="justify-content : center; text-align: center;">
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
                {% comment %} 게시판 시작 {% endcomment %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top:60px;"></div>
          <table class="table">
            <tr>
							<th scope="col" class="text-left" style="padding-top:40px;"><h3>제목 : <strong>{{result.title}}</strong></h3> <br> 
                {% ifequal request.session.username  user.username %}
                <a href="{%url 'Post:edit' result.post_idx %}" class="link-secondary" style="margin-left: 55em;">수정</a>
                <a href="{%url 'Post:delete' result.post_idx %}" class="link-secondary" style="margin-left: 1em;">삭제</a>
                <a href="{% url 'Post:show' %}" class="link-secondary" style="margin-left: 1em;">목록</a>     
        
                {% else %}     
                <a href="{% url 'Post:show' %}" class="link-secondary" style="margin-left: 61em;">목록</a>    
                {% endifequal %} 
              </th>
            </tr>
            </tr>
            <tr>
              <td> 
                {% if result.pic %}
                <center><img src="/media/{{ result.pic }}" class="img-responsive left-block"style="width:400px; height:400px;"></center>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td style="text-align: left;"><span> {{result.body}} </span></td>
            </tr>
          </table>
        <div style="display:flex">
                {% comment %} 해당 게시판을 작성한 사용자만 수정/삭제 버튼 활성화 {% endcomment %}


        </div>
      </div>
      <h1 style="text-align: left;">comment</h1>
        {% comment %} 로그인한 회원만 댓글 작성 가능 {% endcomment %}
        {% if request.session.username %}
        <form method="POST">
        {% csrf_token %}
          <textarea class="form-control" rows="3" name="body"></textarea>
          <br>
          <button type="submit" class="btn btn-default btn-lg float-right">등록</button>
        </form>
        {% endif %}

            {% comment %} 댓글 게시판 {% endcomment %}
        <table class='table'>
          {% for comment in comments %}
            <tr>
              <td>
                <div class="container" style="display: flex;justify-content: space-between;text-align: start;">
                  <p><span class="glyphicon glyphicon-user"> </span>{{comment.username}}</p>
                  <p> {{comment.chatting}} </p>
                  <p class="text-secondary"> <small> {{comment.date}} </small> </p>
                </div>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </section>
</body>
<!-- ================ category section end ================= -->
{% endblock%}