{% extends 'base.html' %}

{% block content %}

{% load static %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

<script>
    function change_dropdown(selectid){
        var language = document.getElementById(selectid);
        var selectLanguage = language.options[language.selectedIndex].value;
        document.all('div_id2').innerHTML=""
        if (selectLanguage == 'text'){
            document.all('div_cam_button').innerHTML="";
            document.all('div_cam').innerHTML="<textarea id='gettext' name='gettext'>";
            document.all('div_cam_button').innerHTML="<button id='from-button' type='button' onclick='text_input()'>Translate</button>";
            document.all('div_to').innerHTML="\
                <select id='select_to' name='to' onchange='show_area2(this.id)'>\
                    <option value='none'>Language</option>\
                    <option value='signlanguage'>수어</option>\
                    <option value='braille'>점자</option>\
                    <option value='soundlanguage'>음성</option>\
                </select>";
        }
        else{
            document.all('div_cam').innerHTML="";
            document.all('div_cam_button').innerHTML="\
            <div id='cam_button'>\
                 <button id='from-button' type='button' onclick='video_on()'>Camera On</button>\
            </div>";
            document.all('div_to').innerHTML="\
                <select id='select_to' name='to' onchange='show_area(this.id)'>\
                    <option value='none'>Language</option>\
                    <option value='braille'>점자</option>\
                    <option value='soundlanguage'>음성</option>\
                </select>";
        }

    }
    function show_area(selectid){
        var language = document.getElementById(selectid);
        var selectLanguage = language.options[language.selectedIndex].value;
        if (selectLanguage == 'none') {
            $(div_id2).html("");
        }else {
            $.ajax({
                url: "{% url 'Translation:textlanguage' %}",
                type: "GET",
                dataType: "json",
                data: {'language': selectLanguage},
                success: function(data){
                    if (selectLanguage == 'soundlanguage'){
                        audio_path = data['audio_path']
                        document.all('div_id2').innerHTML="<audio controls><source src='{% get_static_prefix %}audio/" + audio_path + ".mp3' type='audio/mp3'></audio>";
                    }else if (selectLanguage == 'braille'){
                        img_path = data['img_path']
                        document.all('div_id2').innerHTML="<img src='{% get_static_prefix %}bralille_translated/" + img_path + ".png'>";
                    }
                }, error: function(e) { 
                    document.all('div_id2').innerHTML="다시 한번 동작해주세요."
                } 
            });
        }
    }
    function show_area2(selectid){
        var language = document.getElementById(selectid);
        var selectLanguage = language.options[language.selectedIndex].value;
        if (selectLanguage == 'none'){
            $(div_id2).html("");
        }else{
            $.ajax({
                url: "{% url 'Translation:textlanguage2_trans' %}",
                type: "GET",
                dataType: "json",
                data: {'language': selectLanguage},
                success: function(data){
                    if (selectLanguage =='soundlanguage'){
                        audio_path = data['audio_path']
                        document.all('div_id2').innerHTML="<audio controls><source src='{% get_static_prefix %}audio/" + audio_path + ".mp3' type='audio/mp3'></audio>";
                    }else if (selectLanguage == 'braille'){
                        img_path = data['img_path']
                        document.all('div_id2').innerHTML="<img src='{% get_static_prefix %}bralille_translated/" + img_path + ".png'>";
                    }else if (selectLanguage == 'signlanguage'){
                        img_path = data['img_path']
                        document.all('div_id2').innerHTML="<img src='{% get_static_prefix %}signlanguage/" + img_path + ".jpg'>";
                    }
                }, error: function(e) { 
                    document.all('div_id2').innerHTML="다시 한번 동작해주세요."
                } 
            });
        }
    }
    function video_on(){
        // $(div_cam).html("<img src='http://http://127.0.0.1:8000/translation/signlanguage/' style='width:640px; height:360px;top:10%;margin:5px;border:3px solid #c2c7cc; border-radius: 7px;'/>");
        $(div_cam).html("<img src='http://127.0.0.1:8000/translation/signlanguage/?status=true' style='width:640px; height:360px;top:10%;margin:5px;border:3px solid #c2c7cc; border-radius: 7px;'/>");
        $(div_cam_button).html("<button id='from-button' type='button' onclick='video_off()'>Translate</button>");
        
    }
    function video_off(){
        $(div_cam).html("<p>Select Language</p>");
        $(div_cam_button).html("<button id='from-button' type='button' onclick='video_on()'>Camera On</button>");
        $.ajax({
            url: "{% url 'Translation:signlanguage' %}",
            type: "GET",
            dataType: "json",
            data: {'status': false},
            success: function(data){
                console.log('off success')
                document.all('div_id2').innerHTML="<h3>" + data['data'] + "</h3>"
            },error: function(request,status,error) { 
                console.log('off error')
                alert('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
            } 
        });
    }
    function text_input(){
        var text = $("textarea#gettext").val();
        $.ajax({
            url: "{% url 'Translation:textlanguage2' %}",
            type: "GET",
            dataType: "json",
            data: {'text': text},
            success: function(){
            },error: function(request,status,error) { 
                alert('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
            } 
        });
    }
</script>
<style>
    #select_to, #select_from {
        width: 150px;
        height: 35px;
        background-size: 20px;
        padding: 5px 30px 5px 10px;
        border-radius: 4px;
        border-color: #c2c7cc;
        outline: 0 none;
        text-align:center; 
        margin:10px; 
        padding:5px
      }
    #select_to option, #select_from option {
      background: #fff;
      color: #c2c7cc;
      padding: 3px 0;
    }
    #gettext {
        width: 640px;
        height: 360px;
        padding: 10px;
        top:10%;
        box-sizing: border-box;
        border: 3px solid #c2c7cc;
        border-radius: 7px;
        font-size: 22px;
        resize: none;
        margin:5px;
    }
    .help-tip{
        text-align: center;
        background-color: #c2c7cc;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        font-size: 14px;
        line-height: 26px;
        cursor: default;
    }
    .help-tip:before{
        content:'?';
        font-weight: bold;
        color:#fff;
    }
    .help-tip:hover pre{
        display:block;
        transform-origin: 100% 0%;
        -webkit-animation: fadeIn 0.3s ease-in-out;
        animation: fadeIn 0.3s ease-in-out;
    }
    .help-tip pre{
        display: none;
        text-align: left;
        background-color: #c2c7cc; 
        padding: 20px;
        width: 520px;
        position: absolute;
        border-radius: 3px;
        box-shadow: 1px 1px 1px #c2c7cc;
        right: 80px;
        color: black;
        font-size: 16px;
        line-height: 1.4;
    }
    .help-tip pre:before{
        position: absolute;
        content: '';
        width:0;
        height: 0;
        border:6px solid transparent;
        border-bottom-color:#c2c7cc;
        right:10px;
        top:-12px;
    }
    .help-tip pre:after{
        width:100%;
        height:40px;
        content:'';
        position: absolute;
        top:-40px;
        left:0;
    }
    @-webkit-keyframes fadeIn {
        0% { 
            opacity:0; 
            transform: scale(0.6);
        }
        100% {
            opacity:100%;
            transform: scale(1);
        }
    }
    @keyframes fadeIn {
        0% { opacity:0; }
        100% { opacity:100%; }
    }
    .left, .right{
        width:50%;
        height:100%;
        float: left; 
        box-sizing: content-box;
        margin:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-group{
        width:100%; 
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    #div_id, #div_idid{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
    }
    #from-button{
        width:120px;
        height:35px;
        margin:10px;
        text-align:center;
        padding:5px;
    }
    #cam_button{
        display: flex;
        flex-direction:row;
    }
</style>

<div style="width:100%;height:100%;padding:5%;display: flex;flex-direction: column;align-items: center;">
<div style="display: flex;flex-direction: row;align-items: center;">
<h2>Action and click<b>&nbsp;&nbsp;TRANSLATE&nbsp;&nbsp;&nbsp;</b></h2>
<div class="help-tip">
<pre>
1. 입력을 선택합니다.(수어, 텍스트 가능)
2. 1) 수어 선택 시
	 1- Camera On 버튼을 누른 뒤 카메라가 나타나면 동작합니다.
	 2- 동작 완료시 Translate 버튼을 누릅니다.
    2) 텍스트 선택 시
         1- 텍스트 창이 나타나면 번역하고자 하는 텍스트를 입력합니다.
	 2- 입력 완료시 Translate 버튼을 누릅니다.
3. 출력을 선택합니다.
4. 출력을 확인합니다.
</pre>
</div>
</div>
<div style="width:100%;height:100%;padding:5%;display:flex;flex-direction:column;align-items: center;">
    <div style="width:100%;height:50vh;display:flex;flex-direction:row;align-items: center;">
        <div class="left">
            <div class="form-group">                
                <div id="div_id">
                    <label for ="from"><h3><b>Translate from </b></h3></label> 
                    <div id="div_from">
                        <select id="select_from" name="from" onchange="change_dropdown(this.id)">
                            <option value="none">Language</option>
                            <option value="signlanguage">수어</option>
                            <option value="text">텍스트</option>
                        </select>
                    </div>
                    <div id="div_cam_button">
                    </div>
                </div>
                <div id="div_cam">
                </div>
            </div>
        </div>
        <div style='top: 50%;'><img src='../static/img/arrow.png' style='width:100px; height:100px;margin:20px;'/></div>
        <div class="right">
            <div class="form-group"> 
                <div id="div_idid">
                <label for ="to"><h3><b>Translate to </b></h3></label>
                <div id="div_to">    
                <select id="select_to" name="to" onchange="show_area(this.id)">
                    <option value="none">Language</option>
                    <option value="braille">점자</option>
                    <option value="soundlanguage">음성</option>
                </select>
                </div>
                </div>
            </div>
            <div class="form-group">
                <div id="div_id2" style="margin:auto;margin-top:2em;margin-bottom:4em"></div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}