{% extends 'base.html' %}

{% block content %}

<div style="padding:5%;display: flex;flex-direction: column;align-items: center;">

<h2>회원 탈퇴</h2>
<form method='post' style="width:33%;height:30%">{% csrf_token %}
    {% for field in password_form %}
        <p>
            {{field.label_tag}}

            {{field}}

            {% if field.help_text %}
                <small style="color:grey;">{{field.help_text}}</small>
            {% endif %}

            {% for error in field.errors %}
                <small style="color:red;">{{error}}</small>
            {% endfor %}

            {% if password_form.non_field.errors%}
                <div style="color:red">
                    <p>{{password_form.non_field.errors}}</p>
                </div>
            {% endif %}

        </p>
    {% endfor %}
    <div style="display: flex;flex-direction: column;align-items: center;">
    <p><strong style="color:red;">{{ error }}</strong></p>
    <button type="submit">회원탈퇴</button>
    </div>
</div>
{% endblock %}