{% extends 'base.html' %}

{% block content %}

<div style="padding:5%;display: flex;flex-direction: column;align-items: center;">
    <h2>로그인</h2>
    <br><br>
    <form method='post' style="width:33%;height:30%">{% csrf_token %}
        {% for field in login_form %}
            <p>
                {{field.label_tag}}
    
                {{field}}
    
                {% if field.help_text %}
                    <small style="color:grey;">{{field.help_text}}</small>
                {% endif %}
    
                {% for error in field.errors %}
                    <small style="color:red;">{{error}}</small>
                {% endfor %}
    
                {% if login_form.non_field.errors%}
                    <div style="color:red">
                        <p>{{login_form.non_field.errors}}</p>
                    </div>
                {% endif %}
    
            </p>
        {% endfor %}
        <button type="submit" style="display: block;margin: 0 auto;">로그인</button>
        <div style="display: block;margin: 0 auto;display: flex;flex-direction: row;justify-content: center;margin-top:1.5em">
        <a href="{% url 'user:find_id'%}" style="margin-right:0.75em">ID 찾기</a>
        <a href="{% url 'user:find_pw'%}" style="margin-left:0.75em">PW 찾기</a>
        </div>
    </form>
</div>

{% endblock %}